.logo {
  background-image: url('../img/logo.svg');
  height: 4.9rem;
  width: 5.1rem;
  background-size: cover;
  background-repeat: no-repeat;
} 

.button-csv-invoice {
  background-color: #149CE3;
  color: white;
}
