.sidebar {
    background-color: #0E61AB;
}

.logo-sidebar {
    background-image: url('../img/logo.svg');
    height: 3.1rem;
    width: 3.25rem;
    background-size: cover;
    background-position: center;
}

.link-sidebar, .link-sidebar:hover {
    background-color: red !important;
}
