.button-csv-unit, .button-filter-unit, .button-edit-unit, .button-search-unit, .button-tambah-unit, .button-edit-unit {
    background-color: #149CE3;
    color: white;
}

.input-deskripsi-unit {
    width: 20rem;
}

.pagination .page-link {
    background-color: #149CE3;
    color: white;
  }
  
  .pagination .page-item.active .page-link {
    border-color: #149CE3;
    background-color: white;
    color: #149CE3 !important;
  }

